@media screen and (min-width: 320px) and (max-width: 767px) {
  .spend_stat {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: #ffffff;

    position: relative;
    z-index: 1;
  }
}
@media screen and (min-width: 768px) {
  .spend_stat {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    padding-top: 20px;
    background-color: #ffffff;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
    position: relative;
    z-index: 1;
  }
}
@media screen and (min-width: 1280px) {
  .spend_stat {
    margin-bottom: 40px;
  }

  .spend_stat {
    position: relative;
    z-index: 1;
    width: 1034px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    padding-top: 20px;
    background-color: #ffffff;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
    position: relative;
    z-index: 1;
  }
}

.spend_statTextBig {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  width: 96px;
  text-align: center;
  color: #000000;
}

.list_spend {
  display: flex;
  margin-top: 0px;
  height: auto;
  max-width: 653px;
  justify-content: center;
  flex-wrap: wrap;
}

.spend_statPosition {
  display: flex;
  align-items: center;
}

.spend_SvgLeft {
  padding: 0px 10px;
}
.spend_SvgRight {
  padding: 0px 10px;
}

.spend_stat_left,
.spend_stat_right {
  padding: 0px 10px;
}
.list_spendTextNo {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  padding: 20px 0px;
}

.example_tr {
  display: flex;
  flex-direction: row;
}
.imageExample_one,
.imageExample_two,
.imageExample_three,
.imageExample_for {
  width: 84px;
  height: 106px;
  background-size: 100% content;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.imageExample_one {
  background-image: url(../ExsampleReports/k\ -\ 4.png);
}

.imageExample_two {
  background-image: url(../ExsampleReports/k\ -\ 5.png);
}

.imageExample_three {
  background-image: url(../ExsampleReports/k\ -\ 7.png);
}
.imageExample_for {
  background-image: url(../ExsampleReports/k\ -\ 9.png);
}
