.wrap {
    width: 230px;
    background: #f5f6fb;
    border: 2px solid #ffffff;
    border-radius: 20px;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 38px;
    border-bottom: 1px solid #ffffff;
  
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .list {
    padding: 0;
    height: 240px;
    overflow-y: scroll;
  }
  .list::-webkit-scrollbar {
    width: 6px;
  }
  
  .list::-webkit-scrollbar-thumb {
    background-color: #ff751d;
    border-radius: 4px;
  }
  .item {
    display: flex;
    height: 38px;
    border-bottom: 1px solid #ffffff;
  }
  .month {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 22px;
  
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  .sum {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: auto;
  
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    /* text-transform: uppercase; */
  }