.background {
  position: absolute;
  z-index: 100;
  width: 250px;
  height: 100px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  background-color: #031634;
  border-radius: 30px;
  transform: translate(-4px, 95px);
  opacity: 0.9;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .background {
    transform: translate(80px, 90px);
  }
}
@media screen and (min-width: 1280px) {
  .background {
    transform: translate(26px, 86px);
  }
}

.background::before {
  content: 'Hel';
  color: #031634;
  display: block;
  z-index: 1000;
  width: 20px;
  height: 20px;
  background-color: #031634;
  transform: rotate(133deg);
  position: absolute;
  top: -8px;
  left: 22px;
}
