@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  color: #52555f;
  background-color: transparent;
  /* max-width: max-content; */
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  background-color: inherit;
  box-shadow: none;
}

svg {
  fill: currentColor;
}

.ant-picker .ant-picker-input,
.ant-picker.ant-picker-range {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.ant-picker .ant-picker-input span.ant-picker-suffix,
.ant-picker.ant-picker-range span.ant-picker-suffix {
  margin-left: 0;
  margin-right: 10px;
}

.ant-picker .ant-picker-input {
  width: 120px;
}

.ant-dropdown-trigger .anticon {
  transition: transform 250ms ease-in-out;
}

.ant-dropdown-trigger .anticon svg {
  height: 10px;
}

.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-selected
  .ant-picker-cell-inner {
  background-color: #ff914a;
}

.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border: 1px solid #ff914a;
}

.ant-picker-dropdown .ant-picker-today-btn {
  color: #ff914a;
}

.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(
    .ant-pagination-size-changer
  ):hover
  .ant-select-selector {
  border-color: #ffac77;
}

.ant-picker-dropdown {
  left: 17px;
}
.reports {
  top: 0;
}
